body, html{
	height: 100%;
	background-color: black;
}

body {
	position: relative;
}

.carouselPics {
	width: 100%;
	height: 100%;
	overflow: none;
	margin: 0;
	min-width: 968px;
}

#navBtn1 {
	border: 1px solid black;
}

#navBtn1 > span.icon-bar {
	border: 1px solid black;
}

#navbarName {
	color: black;
}

#navBar1tabs > li > a {
	background-image: none;
	background-color: white;
	color: black;
	margin-top:5px;
}

#navBar1tabs > li > a:hover {
	background-image: none;
	opacity: .8;
}

#navBar1tabs > li.active > a,
#navBar1tabs > li.active > a:hover {
	background-image: none;
	text-decoration: underline;
	top: 5px;
}

#backgroundDiv {
	position: relative;
	background-color: white;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	margin: 0;
}

#bg {
	background-color: black;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: auto;
	color: black;
	overflow: auto;
}

#navBar1 {
	z-index: 15;
}

#overviewDiv, #moreAboutMeDiv, #experienceDiv, #resumeDiv {
	padding-top: 160px;
	padding-bottom:150px;
}

#moreAboutMeDiv, #overviewDiv {
	background-color: white;
	background: white;
}

#wordPressLink {
	padding-top: 100px;
}

#t1, #t2, #t3, #t4, #t5, #t6, #t7, #t8 {
	padding-top: 40px;
}

.bBox {
	background: black;
}

.affix-bottom{
	position: absolute;
}

#contentDivE {
	padding: 0;
}

#infoArea div.row {
	padding-bottom:0px;
}

@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

#gitHubPic {
	float:none;
	margin: 0 auto;
}

#welcomeMemo {
	color: black;
}

.blueB {
	background-color: blue;
}

.activeD {
	display: inherit;
}

.nonActive {
	display: none;
}

.box {
	background: rgba(211, 211, 211, 0.4);
	margin: 3px;
}

#box1 {
	background: rgba(211, 211, 211, 0.9);
}

.pop-box {
	text-align: center;
}

.hText {
	white-space: pre-line;
}

.history {
	text-align: center;
}

.greenbox {
	background: rgba(63, 127, 191, 0.9);
}

#aboutMeTabs {
	padding-right:20px;
}

#section4 ul{
	margin-bottom: 0;
}

#eyePic, #gitPic {
	height:130%;
	width: auto;
}

.editorPic {
	height: 100px;
	width: 100px;
}

#timelineBox {
	position: relative;
}

#timelineUL {
	color: black;
	font-weight: bold;
	/*background: rgba(211, 211, 211, .6);*/
	min-width: 170px;
}

#timelineUL li.active {
	text-decoration: underline;
}

#experienceDiv {
	position: relative;
}

.affix {
	top: 300px;
}

.modal-content, .modal-header, .modal-body {
	background: rgba(211, 211, 211, 0.9);

}

#modalBtn {
	margin-right:5px;
}

.modal {
	background: rgba(211, 211, 211, 0.1);
	overflow: auto;
}

#emailMe, #callMe {
	color: darkblue;
}

