body, html{
	height: 100%;
	background-color: black;
}

body {
	position: relative;
}

#backgroundPics {
	position: fixed;
	overflow: none;
}

#bg {
	background-color: black;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: auto;
	color: black;
	overflow: auto;
}

#overviewDiv, #moreAboutMeDiv, #experienceDiv, #resumeDiv {
	padding-top: 60px;
}

#t1, #t2, #t3, #t4, #t5, #t6, #t7, #t8 {
	padding-top: 20px;
}

.affix-bottom{
	position: absolute;
}

#contentDivE {
	padding: 0;
}

.row {
	padding-bottom:100px;
}

#infoArea div.row {
	padding-bottom:0px;
}
/*@keyframes fadeIn {
	0% {opacity:0;}
	1% {opacity:.33;}
	2% {opacity:.66;}
	3% {opacity: 1;}
	31%{opacity:.66;}
	32%{opacity:.33;}
	33%{opacity:0;}
	34% {opacity:.33;}
	35% {opacity:.66;}
	36% {opacity: 1;}
	64%{opacity:.66;}
	65%{opacity:.33;}
	66%{opacity:0;}
	67% {opacity:.33;}
	68% {opacity:.66;}
	69% {opacity: 1;}
	98%{opacity:.66;}
	99%{opacity:.33;}
	100% {opacity:0;}
}

#bg{
	animation-name: fadeIn;
	animation-duration: 35s;
	animation-direction: alternate;
	animation-iteration-count:infinite;
	animation-timing-function: linear;
}*/

#gitHubPic {
	float:none;
	margin: 0 auto;
}

#welcomeMemo {
	color: black;
}

.blueB {
	background-color: blue;
}

.activeD {
	display: inherit;
}

.nonActive {
	display: none;
}

.box {
	background: rgba(211, 211, 211, 0.4);
	margin: 3px;
}

#box1 {
	background: rgba(211, 211, 211, 0.9);
}

.pop-box {
	text-align: center;
}

.hText {
	white-space: pre-line;
}

.history {
	text-align: center;
}

.greenbox {
	background: rgba(63, 127, 191, 0.9);
}

#aboutMeTabs {
	padding-right:20px;
}

#eyePic, #gitPic {
	height:130%;
	width: auto;
}

.editorPic {
	height: 100px;
	width: 100px;
}

#timelineBox {
	position: relative;
}

#timelineUL {
	color: black;
	background-color: white;
	font-weight: bold;
	background: rgba(211, 211, 211, .6);
	min-width: 170px;
}

#timelineUL li.active {
	text-decoration: underline;
}

#experienceDiv {
	position: relative;
}

.affix {
	top: 100px;
}

.modal-content, .modal-header, .modal-body {
	background: rgba(211, 211, 211, 0.9);

}

#modalBtn {
	margin-right:5px;
}

.modal {
	background: rgba(211, 211, 211, 0.1);
	overflow: auto;
}

#emailMe, #callMe {
	color: darkblue;
}

