body, html{
	height: 100%;
	background-color: white;
}

.bg {
	height: 100%;
	background-image: url(../images/tree.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
	overflow: auto;
	color: black;
}

#pageBody {
	margin-top: 80px;
}

.blueB {
	background-color: blue;
}
.activeD {
	display: inherit;
}

.nonActive {
	display: none;
}

.box {
	background: rgba(211, 211, 211, 0.4);
	margin: 3px;
}

.pop-box {
	text-align: center;
}

.hText {
	white-space: pre-line;
}

.history {
	text-align: center;
}

.greenbox {
	background: rgba(76, 175, 80, 0.6);
}

#aboutMeTabs {
	padding-right:20px;
}

#eyePic {
	height:100%;
	width: auto;
}


#jumbotron1 {
	opacity :.9;
	margin-top:50px;
}

.modal-content, .modal-header, .modal-body {
	background: rgba(211, 211, 211, 0.9);

}

#modalBtn {
	margin-right:5px;
}

.modal {
	background: rgba(211, 211, 211, 0.1);
	overflow: auto;
}

#emailMe, #callMe {
	color: darkblue;
}

.follow {
	position: absolute;
	display: flex;
	background: url(../images/corgi1.png) -202px 0;
	margin: 0;
	border: 0;
	padding: 0;
	width: 80px;
	height: 150px;
}
